header{
    font-style: italic;
    background-color:#201658;
    color: white;
    margin: 0px;
    height: 110px;
}
h1::first-letter{
    color: greenyellow;
}
.title{
    margin: 0px;
    margin-top: -95px;
    margin-left: 130px;
}
h1{
    margin: 0px;
}
ul{
    list-style-type: none;
    font-weight: bold; 
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.nav:hover{
    background-color:#201658;
    color: white;
}
footer{
    margin-top:1%;
    height: 120px;
    background-color: #201658;
}

.icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}
.show{
    height:200px ;
    margin-top: 50px;
    text-align: center;   
}
.bg1{
    margin-top: 30px;
    width:1200px;
    height: 500px;
    border-radius: 10px;
}
.bg-show{
    background-image: radial-gradient(rgb(118, 118, 192),rgb(162, 194, 208));
    padding:30px;
    border-radius: 8px;
}