header{
    font-style: italic;
    background-color:#201658;
    color: white;
    margin: 0px;
    height: 110px;
}
h1::first-letter{
    color: greenyellow;
}
.title{
    margin: 0px;
    margin-top: -95px;
    margin-left: 130px;
}
h1{
    margin: 0px;
}
ul{
    list-style-type: none;
    font-weight: bold; 
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:hover{
    background-color:#201658;
    color: white;
}