header{
    background-color: rgb(13, 94, 144);
    height: 60px;
    padding:10px;
    text-align: center;
    margin: 0;
    color:blanchedalmond;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    float:left;
    padding:10px;
    margin-left: 145px;
    color:black;
}

li a:hover{
    background-color: rgb(13, 94, 144) ;
    color:blanchedalmond;
}